<div class="btn btn-default tapdiv" ng-click="cnt1=cnt1+1" id="frdiv"><h2 class="tapcount">{{cnt1}}</h2></div>
<div class="btn btn-default tapdiv" ng-click="cnt2=cnt2+1" id="frdiv"><h2 class="tapcount">{{cnt2}}</h2></div>
<div class="btn btn-default tapdiv" ng-click="cnt3=cnt3+1" id="frdiv"><h2 class="tapcount">{{cnt3}}</h2></div>
<div class="btn btn-default tapdiv" ng-click="cnt4=cnt4+1" id="frdiv"><h2 class="tapcount">{{cnt4}}</h2></div>
	<center><button class="verifybtn" ng-click=gettapfunc()>Done!</button></center>