<form >
	<center>
	<label class="loginpgtitle">LOGIN</label>
	<br>
	<br>
	<input required type="password" pattern="[0-9]*" name="pin1" id="part1" maxlength="1" ng-model="p" style="width: 40px; height: 40px;text-align: center; " move-next-on-maxlength>
	<input required type="password" pattern="[0-9]*" name="pin2" id="part2" maxlength="1" ng-model="q" style="width: 40px; height: 40px;text-align: center;" move-next-on-maxlength>
	<input required type="password" pattern="[0-9]*" name="pin3" id="part3" maxlength="1" ng-model="r" style="width: 40px; height: 40px;text-align: center;" move-next-on-maxlength>
	<input required type="password" pattern="[0-9]*" name="pin4" id="part4" maxlength="1" ng-model="s" style="width: 40px; height: 40px;text-align: center;" move-next-on-maxlength>
	<br>
	<br>
	<button class="loginpgbtn" ng-click=verifypinfunc()>Submit</button>

	</center>

</form>
