<div class="form group">
	<H1 id="passm">PASSWORD MANAGER</H1>
	<form class="firstpgform">

			<label class="labelstitle">Enter Category :</label><input type="text" name="nm" ng-model="key"><br>
			<label class="labelstitle">Enter Password :</label><input type="text" name="nm" ng-model="pass"><br>
		<button type="submit" class="firstpgbtn" ng-click=adddata()>Add </button>
		<button class="firstpgbtn" ng-click=todisp() >View </button>
		<button class="loginpgbtn" ng-click=logout()>Log Out</button>	
	</form>
</div>