<div>
	<form>
	<center>
		<div ng-hide="hidemail">
			<label class="loginpgtitle" style="margin-top: 30%">Enter Your Email Id: </label><input required type="email" ng-model="EmailId">
			<br>
			<button id="nextbtn" ng-click="setemail();">Next &#8250;</button>
		</div>
		<br>
		<div ng-show="show4pin">
		<label class="loginpgtitle">Set 4 digit PIN</label>
		<br>
		<br>
		<input required type="password" pattern="[0-9]*" name="pin1" id="part1" maxlength="1" ng-model="a" style="width: 40px; height: 40px;text-align: center;" move-next-on-maxlength>
		<input required type="password" pattern="[0-9]*" name="pin2" id="part2" maxlength="1" ng-model="b" style="width: 40px; height: 40px;text-align: center;" move-next-on-maxlength>
		<input required type="password" pattern="[0-9]*" name="pin3" id="part3" maxlength="1" ng-model="c" style="width: 40px; height: 40px;text-align: center;" move-next-on-maxlength>
		<input required type="password" pattern="[0-9]*" name="pin4" id="part4" maxlength="1" ng-model="d" style="width: 40px; height: 40px;text-align: center;" move-next-on-maxlength>
		<br>
		<br>
		<button class="loginpgbtn" ng-click=getpinfunc()>Submit</button>
	</center>
	</form>
</div>
<div><!--
Enter encryption key :<input type=text ng-model="key"> 
-->
</div>
